@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
*{
    font-family: 'Maven Pro', sans-serif;
    /* color: bisque; */
    color: #d3d7df;
}

body{
    background-image: url("mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.card{
    width: 60%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    overflow: hidden;
}

/* If Chrome or Opera */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .card{
        backdrop-filter: blur(100px);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }

  /* If mozilla */
  @-moz-document url-prefix() {
    .card{
        background-color: #36393f;
        transform: translate(-50%, -50%);
    }
  }

.top-section{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 25px;
}

#profile-pic{
    width: 160px;
    height: 120px;
    border-radius: 10px;
}

.profile_details{
    padding: 25px 25px 25px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

.name{
    font-family: 'Zen Loop';
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 3px;
}

.bio{
    margin-top: 10px;
    display: flex;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1.5px;
}

.follow_details{
    font-size: 19px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.tab {
    margin-top: 20px;
    overflow: hidden;
    border-bottom: 1px solid rgba(172, 170, 170, 0.25);
    padding: 0 20px;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.1s;
    font-size: 17px;
  }
  
  .tab button:hover {
    color: white;
  }
  
  .tab button.active {
    border-bottom: 3px solid white;
  }
  
  .tabcontent {
    display: none;
    padding: 15px 20px;
    border-top: none;
  }

#Repos{
    height: 223px;
    overflow-y: scroll;
    /* overflow-x: scroll; */
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Scrollbar customization */
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }