@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

:root {
	--yellow: #feb60a;
	--red: #ff0062;
	--blue: #00dbf9;
	--violet: #da00f7;
}

*{
    font-family: 'Maven Pro', sans-serif;
    color: #d3d7df;
}

.loader {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  background-image: linear-gradient(180deg, rgba(0,0,0,0.15) 0%, rgba(0,153,212,0) calc(15% + 100px), rgba(0,99,138,0) calc(85% + 100px), rgba(0,0,0,0.15) 100%);
}

.loader > div {
	width: 3vw;
	height: 3vw;
	border-radius: 100%;
	margin: 2vw;
	background-image: linear-gradient(145deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 100%);
	animation: bounce 1.5s 0.5s linear infinite;
}
.yellow {
	background-color: var(--yellow);
}

.red {
	background-color: var(--red);
	animation-delay: 0.1s;
}

.blue {
	background-color: var(--blue);
	animation-delay: 0.2s;
}

.violet {
	background-color: var(--violet);
	animation-delay: 0.3s;
}

@keyframes bounce {
	0%, 50%, 100% {
		transform: scale(1);
		filter: blur(0px);
	}
	25% {
		transform: scale(0.6);
		filter: blur(3px);
	}
	75% {
		filter: blur(3px);
		transform: scale(1.4);
	}
}

body{
    background-image: url("Optimized-mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card{
    width: 60%;
    height: 90%;
    max-height:500px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    overflow: hidden;
}

/* If Chrome or Opera */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .card{
        backdrop-filter: blur(100px);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }

  /* If mozilla */
  @-moz-document url-prefix() {
    .card{
        background-color: #36393f;
        transform: translate(-50%, -50%);
    }
  }

.top-section{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 25px;
}

#profile-pic{
    width: 160px;
    height: 120px;
    border-radius: 10px;
}

.profile_details{
    padding: 25px 25px 25px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

.name{
    font-family: 'Zen Loop';
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 3px;
}

.bio{
    margin-top: 10px;
    display: flex;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1.5px;
}

.follow_details{
    font-size: 19px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.tab {
    margin-top: 20px;
    overflow: hidden;
    border-bottom: 1px solid rgba(172, 170, 170, 0.25);
    padding: 0 20px;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.1s;
    font-size: 17px;
  }
  
  .tab button:hover {
    color: white;
  }
  
  .tab button.active {
    border-bottom: 3px solid white;
  }
  
  .tabcontent {
    display: none;
    padding: 15px 20px;
    border-top: none;
  }

#Repos{
    /* height: 223px; */
    height: 175px;
    overflow-y: scroll;
    /* overflow-x: scroll; */
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Scrollbar customization */
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media screen and (max-width:750px){
    .card{
        width: 90%;
    }

    #Repos{
        height: 205px;
    }
  }

  @media screen and (max-width:450px){
    .name{
        font-size: 25px;
    }
    .bio{
        font-size: 15px;
    }
  }

  
  @media screen and (max-width:450px){
    .name{
        font-size: 25px;
    }
    .bio{
        display: none;
    }
    .top-section{
        padding: 1px;
        margin-bottom: 20px;
    }
  }